// Variables

$asphalt: #2c3e50;
$midnight: #2c3e50;
$silver: #bdc3c7;

// Styles

body {
	margin: 0px;
	font-family: 'Lato', san-serif;
}

#header {
	position: relative;
	display: inline-block;
	float: left;
	width: 40%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('img/sss.jpg');
	color: white;
	overflow: hidden;

	div {
		position: relative;
		width: 100%;
		height: 100%;
		background-color: $asphalt;
		opacity: 0.98;
		
		h1 {
			position: relative;
			padding: 3rem;
			padding-top: 30%;
			margin: 0px;
			font-size: 4rem;
			font-weight: 300;
		}

		h3 {
			position: relative;
			padding: 3rem;
			font-weight: 300;
		}
	}
}

#reading {
	position: relative;
	display: inline-block;
	float: left;
	width: 60%;
	height: 100%;
	color: $midnight;

	> * {
		padding: 3rem;
	}

	div {
		background-color: $silver;

		h2 {
			margin: 0px;
			font-size: 3rem;
			line-height: 3rem;
			font-weight: 300;
		}
	}

}